body {
	background-image: url("modmoodcopy.png");
	background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: 101%;
    background margin-bottom: -5%;


	font-family: 'Work Sans', sans-serif;
}





.image1
{
width:30%;
margin-bottom: -4%;

}

.image2
{
margin-top: 20%;
width: 60%;
}

.image6
{
width: 40%;
margin-left: 0%;
margin-top: 0%;
margin-right:50%;

}


.image6
{
width: 38%;
float: center;
margin-left: 32%;
padding-bottom: 10%;

}

.image5
{
margin-top: 1%;
margin-left: 21%;
margin-bottom: 5%;
}



footer
{
background: olivedrab;
width: 100%;
height: 100%;
color: white;
margin-left: -.6%;
}

.footerlogo
{
width:20%;
margin-top: -2.5%;
margin-bottom: -4.5%;
}


rgin-left: 4%;
}

a
{
  color: black;
}

h2 { 
	
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;

 	font-weight: 50px;
	padding: 5px;
	padding-left: 200px;
	padding-right: 200px;
	color: black;
 	text-align: center; 
 	margin-top: -12%;


	}


h3
{
	font-size: 70px;
	font-family: 'Work Sans', sans-serif;
 	margin-top: 10%;
	color: black;
	margin-bottom: 3%;

}


h5
{
font-size: 30px;
margin-left: 40px;
margin-top: 1%;
margin-bottom: -.5%;
color: white;
}


h6
{
font-size: 10px;
margin-left: 40%;
margin-right: 40%;
text-align: center;
}





p{

padding-left: 43%;
width: 100%

}




font-family: 'Nanum Myeongjo', serif;
font-family: 'Bitter', serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Permanent Marker', cursive;







/*in codpen.io make sure that this is not here bc it messes up the layout.*/

	/*	html, body {
			width:100%;
			height:100%;
			display:flex;
			justify-content: center;
		}*/

		.container {
			background-color: #556B2F;
			width:200px;
			height:200px;
			border-radius:50%;
			display:flex;
			align-self: center;
			
			
		}

		.envelope {
			position: relative;
			align-self: center;
			margin: 0 auto;
			width: 100px;
			height: 75px;
			background-color: #9ACD32;
			
		}

		.container:hover {
			cursor: pointer;
		}

		.container:hover .moves {
		    transform: rotateX(180deg) translateY(50px);
      -webkit-transform: rotateX(180deg) translateY(50px);
      -ms-transform: rotateX(180deg) translateY(50px);
		    transition: .001s 0s;
		}

		.container:hover .letter {
			z-index:40;
			transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);

		}

		.envelope-front {
			width: 100px;
			height: 75px;
			background-color: ##9ACD32
;
			position: absolute;
			z-index:50;
			-webkit-clip-path: polygon(50% 55%, 100% 1%, 100% 100%, 0 100%, 0 0);
			clip-path: polygon(50% 55%, 100% 1%, 100% 100%, 0 100%, 0 0);
		}

		.envelope-flap {
		  width: 0; 
		  height: 0; 
		  border-left: 50px solid transparent;
		  border-right: 50px solid transparent;
		  border-top: 50px solid #6393BF;
		
		  position: absolute;

		}

		.envelope-flap.moves {
			z-index:30;
			transition: .001s .45s;
		}

		.letter {
			height:60px;
			width:75px;
      display:block;
			background-color:#FFFFFF;
			position:absolute;
			left:12.5px;
			z-index:20;
			transition: all .5s ease-in-out;
		}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #8b7a45;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -.5%;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    margin-top: -1%;
    color: white;
    text-decoration: none;
    display: block;
    margin-right: 15%;
    margin-bottom: 1%;

}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
