body {
	background: mistyrose;
}

h1 {
	font-size: 50px;
	font-family: 'Dawning of a New Day', cursive;
	padding: 10px;
	color: darksalmon;

}

h2 { 
	
	font-size: 20px;
  	font-family: 'Dawning of a New Day', cursive;
	font-weight: 100px;
	padding: 20px;
	padding-left: 200px;
	padding-right: 200px;
	color: darksalmon;

	}



img {

	
 	width: 70%;
 	float: center;
 	margin: 2.66%;
 	
  

}


font-family: 'Nanum Myeongjo', serif;
font-family: 'Bitter', serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Permanent Marker', cursive;





body {background: #FFFFFF;
}

#menu ul {
	background-color: #none;
	height: 50px;
	float: none;
	text-align: center;	

}

#menu ul li {
  	font-family: 'Dawning of a New Day', cursive;
	font-size:20px;
	line-height: 50px;
	color: saddlebrown; 
	display: inline;
	margin: 0px 20px;
	font-style: normal;

}

#menu ul li a {
	color: darksalmon;
	text-decoration:none;
	
}

#menu ul li a:hover {
	color: lightsalmon;

}