body {
    background-image: url("modmood.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: 101%;
    background margin-bottom: -5%;
    font-family: 'Work Sans', sans-serif;
}

.image1
{
width:30%;
margin-bottom: -4%;

}

h5
{
font-size: 30px;
margin-left: 40px;
margin-top: 1%;
margin-bottom: -.5%;
color: white;
}


.image2
{
width: 50%;
margin-top: 8%;
}



/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #8b7a45;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -.5%;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    margin-top: -1%;
    color: white;
    text-decoration: none;
    display: block;
    margin-right: 15%;
    margin-bottom: 1%;

}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}