body {
	background: linen;
}


.image2 {

	padding-left: 25%;
	width: 50%;
  }

h1 {
	font-size: 100px;

 	font-family: 'Nixie One', cursive;
 	margin: -0%;
	color: black;

}

.image7
{
width: 75%;
margin-right: 0%;
}



a
{
  color: black;
}

h2 { 
	
	font-size: 20px;
	font-family: 'Nixie One', cursive;

 	font-weight: 50px;
	padding: 5px;
	padding-left: 200px;
	padding-right: 200px;
	color: black;
 	text-align: center;


	}

h3
{
	font-size: 50px;
	font-family: 'Nixie One', cursive;
 	margin-top: 10%;
	color: black;
	margin-bottom: 3%;


}

h5
{
font-size: 10px; 
margin-bottom: -20%;
margin-top: 20%;
float: bottom;
}

.image1
{
width:70%;

}

.image4
{
width: 50%;

}

img {

	
 	width: 45%;
 	float: center;
 	margin: .50%; 	

}

.image3
{

width: 90%;


}

.image5
{
width: 45%;
float: center;
margin-left: 28%;
}

.image6
{
width: 38%;
float: center;
margin-left: 32%;
padding-bottom: 10%;

}

p{
padding-left: 27%;
width: 100%

}




font-family: 'Nanum Myeongjo', serif;
font-family: 'Bitter', serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Permanent Marker', cursive;



body {background: #FFFFFF;
}

#menu ul {
	background-color: #none;
	height: 50px;
	float: none;
	text-align: center;	
    margin-bottom: 10%;
    margin-right: 5%;

}

#menu ul li {

    font-family: 'Nixie One', cursive;
    font-size: 20px;
	line-height: 50px;
	color: saddlebrown; 
	display: inline;
	margin: 0px 10px;
	font-style: normal;

}

#menu ul li a {
	color: black;
	text-decoration:none;
	
}

#menu ul li a:hover {
	color: seagreen;

}

